<!--link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"-->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	
	<div class="border-bottom py-2 ">
	 	<div style="float:left">
	 	<h5><span th:text="${todayText}+' ['+${todayNumber}+']'"></span></h5>
	 	</div>
		<div class="text-end">
		<button type="button" id="btn_puls" class="btn btn-outline-secondary btn-sm">+</button>
		</div>
	</div>
	
	
	<div class="container py-3">
	<form method="post"> <!-- type="hidden" -->
        <input type="hidden" id="salesdate" name="salesdate" class="form-inline" style="width:150px;" th:value="${today}"> 
        <input type="hidden" id="salesnumber" name="salesnumber" class="form-inline" style="width:150px;" th:value="${todayNumber}">
        
	    <div class="row">
	        <div class="col-md-5">				
				<label for="product" class="form-label">상품 : </label>
           		<input type="text" name="product" class="form-inline" style="width:150px;">
           		<a class="link-secondary" href="javascript:popup()">
				<i class="bi bi-search" ></i>
				</a>
	        </div>
	        <div class="col-md-5">
	        	<label for="quantity" class="form-label">수량 : </label>
           		<input type="text" id="quantity" name="quantity" class="form-inline" style="width:50px;" value="1">
	       		<button type="button" id="qt_puls" class="btn btn-outline-white">+</button>
	      		<button type="button" id="qt_minus" class="btn btn-outline-white">-</button>
	      		<input type="submit" value="등록" class="btn btn-outline-secondary">
	        </div>
	    </div>
	</form>    
	</div>
	
	<div style ="display:none" class="pb-3"> <!--"display:block"-->
		품명 : ~~~~~~~   W12,000
	</div>
	
	<div class="card" >
	  <div class="card-body">
		<table class="table table-hover">
		    <thead>
		        <tr class="text-center">
		            <th>No.</th>
		            <th style="width:50%">상품</th>
		            <th>수량</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr class="text-center" th:each="List : ${SalesList}">
		            <td th:text="${List.salesDetailNumber}"></td>
		            <td th:text="${List.product}"></td>
		            <td th:text="${List.ea}"></td>
		        </tr>
		    </tbody>
		</table>
	  </div>
	</div>	
	
</div>
<script layout:fragment="script" type='text/javascript'>
const btn_puls = document.getElementById("btn_puls");
btn_puls.addEventListener('click', function() {
    window.location.href = '../register/sale';
});
const qt_puls = document.getElementById("qt_puls");
qt_puls.addEventListener('click', function() {
	if(document.getElementById('quantity').value == ''){
		document.getElementById('quantity').value = '1';
	}
	else{
		document.getElementById('quantity').value = Number(document.getElementById('quantity').value)+1;
	}
});
const qt_minus = document.getElementById("qt_minus");
qt_minus.addEventListener('click', function() {
	if(document.getElementById('quantity').value == ''){
		document.getElementById('quantity').value = '-1';
	}
	else{
		document.getElementById('quantity').value = Number(document.getElementById('quantity').value)-1;
	}
});
function popup(){
            var url = "../product/search";
            var name = "popup";
            var option = "width = 500, height = 500, top = 100, left = 200, location = no"
            window.open(url, name, option);
        }
</script>
</html>